div.qcm-enonce {
    border: 1px black solid;
    padding: 15px;
    border-radius: 15px;
    background: LightGoldenrodYellow;
    margin-bottom: 15px;
}

.qcm-enonce td {
    vertical-align: middle;
    font-size: 24px !important;
}

.qcm-enonce td {
    border: none;
}

.qcm-enonce td img{
    min-width: 100%;
    width: auto;
    height: auto;
}

.qcm-enonce td p{
    margin: 20px;
}

.qcm-reponse ol li {
    font-size: 26px !important;
    list-style-type: upper-latin;
}

.qcm-reponse p {
    font-size: 26px;
    margin: 2px 0 !important;
}

div.qcm-metadonnees {
    display: none;
}

li.checked {
    background: rgba(0,255,0,0.1);
    
}

li.unchecked {
    background: rgba(255,0,0,0.1);
    cursor: pointer;    
}

li.undef {
    cursor: pointer;    
}

button.oubli {
    position: fixed;
    top: 5px;
    left: 20px;
}

button.hidden {
    display: none;
}

button.visible {
    display: block;
    cursor: pointer;    
}

div.qcm-meta {
    display: none;
}

div#valider {
    background: rgba(255,255,0,0.2);
    padding: 1em;
    border: 1px navy solid;
    border-radius: 1em;
    font-size: 120%;
    font-weight: bold;
    box-shadow: 10px 10px 5px grey;
}

div#resultat{
    max-width: 20em;
    background: lightyellow;
    font-weight: normal;
    padding : 0.8em;
    border: 1px navy solid;
    border-radius: 0.8em;
}

div#resultat.hidden{
    display: none;
}
