div.page {
    position:relative;
    width: 800px;
    height:450px;
    border: 1px black dotted;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

p,li {
    font-size: 30px;
}

p, ol, ul {
    margin: 12px 0;
}

ol {
    padding-left: 10px;
}

table{
    border-collapse: collapsed;
}

tr:nth-child(odd){
    background: #888;
}
tr:nth-child(even){
    background: #ccc;
}

td p, th p {
    font-size: 18px;
    padding: 4px;
}

td, th {
    border: 1px white solid;
}
